<div class="form-container" [class.loading-overlay]="loading()">
  <h2>Gestione Categorie</h2>

  <!-- Form di Creazione Rapida -->
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Nuova Categoria *</label>
      <div class="input-group-container">
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="name"
            placeholder="Es: Elettronica, Libri..."
            [class.is-invalid]="
              categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched
            "
          />

          @if (error()) {
            <small class="error-text">{{ error() }}</small>
          }
          @if (categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched) {
            <small class="error-text">Inserire almeno 3 caratteri.</small>
          }
        </div>

        <button type="submit" class="btn-primary" [disabled]="categoryForm.invalid || loading()">
          {{ loading() ? '...' : 'Aggiungi' }}
        </button>
      </div>
    </div>
  </form>

  <!-- Tabella della Lista Categorie -->
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th class="col-id">Numero #</th>
          <th class="col-name">Nome</th>
        </tr>
      </thead>
      <tbody>
        @for (cat of categories(); track cat.id; let i = $index) {
          <tr>
            <td>
              <span class="tag-pill">{{ i + 1 }}</span>
            </td>
            <td>
              <span class="truncate" [title]="cat.name">
                <strong>{{ cat.name }}</strong>
              </span>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="2" style="text-align: center; padding: 20px">
              Nessuna categoria trovata.
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
