<div class="container" [class.loading-overlay]="loading()">
  <header
    style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px"
  >
    <h2>Catalogo Prodotti</h2>
    <button class="btn-primary" routerLink="/products/new">+ Nuovo Prodotto</button>
  </header>

  <div class="filters">
    <input (input)="updateSearch($event)" placeholder="Cerca per nome..." type="text" />
    <select (change)="updateCategory($event)">
      <option value="">Tutte le categorie</option>
      @for (cat of categories(); track cat.id) {
        <option [value]="cat.id">{{ cat.name }}</option>
      }
    </select>
  </div>

  @if (loading() && products().length === 0) {
    <div class="loader">Caricamento prodotti...</div>
  }

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Prezzo</th>
          <th>Data Creazione</th>
          <th style="text-align: center">Azioni</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products(); track product.id) {
          <tr>
            <td>
              <strong>{{ product.name }}</strong>
            </td>
            <td>{{ product.price | currency: 'EUR' }}</td>
            <td>{{ product.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td style="text-align: center">
              <div class="action-buttons">
                <button
                  class="btn-icon edit"
                  [routerLink]="['/products/edit', product.id]"
                  title="Modifica"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button class="btn-icon delete" (click)="onDelete(product.id!)" title="Elimina">
                  <i class="bi bi-trash3-fill text-danger"></i>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (pagination(); as pg) {
    <div class="pagination-controls">
      <div class="btns">
        <button [disabled]="!pg.prevPage || loading()" (click)="goToPage(pg.prevPage)">
          Precedente
        </button>
        <button [disabled]="!pg.nextPage || loading()" (click)="goToPage(pg.nextPage)">
          Successiva
        </button>
      </div>

      <span class="info">Pagina {{ pg.currentPage }} di {{ pg.totalPages }}</span>

      <div class="settings">
        <select [ngModel]="size()" (ngModelChange)="updateSize($event)">
          <option [ngValue]="5">5 / pag</option>
          <option [ngValue]="10">10 / pag</option>
          <option [ngValue]="20">20 / pag</option>
          <option [ngValue]="50">50 / pag</option>
        </select>
      </div>
    </div>
  }
</div>
