# Esempio per le variabili di ambiente che servono al docker-compose.yml
# DB config
DB_HOST=mini-catalogue-db-pg
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=catalogue

# Impostazioni Applicazione
NODE_ENV=production
APP_ENV="docker" #Serve per dire al backend in quale file guardare per le variabili ambientali backend/env/*.env
