# Local environment example
DATABASE_TYPE=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=catologue
DATABASE_SYNC=false
DATABASE_MIGRATIONS=true
ONLY_SWAGGER_SPEC = false
# Application Settings
APP_NAME="Mini Catalogue backend"
APP_VERSION="1.0.0"
